.subtitle {
    font-family: "Josefin Sans", sans-serif;
    margin: 50px 0 20px 0;
}

.collection {
    width: 75%;
    margin: 0px 0px 50px 0px;
    text-align: center;
}

@media only screen and (max-width: 691px) {
    .collection {
        width: 100%;
    }
}