.not-found-bg {
    background-image: url("table-muted.jpg");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.not-found-title {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 250px;
}