.heading-bg {
    background-image: url("table-muted.jpg");
    height: 350px;
}

.page-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4em;
    color: white;
    padding: 7% 35px 0px 35px;
    margin: 0;
}

.page-subtitle {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    color: white;
    padding: 20px 50% 0px 35px;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .page-title {
        text-align: center;
    }

    .page-subtitle {
        text-align: center;
        padding: 10% 20%;
    }
}