* {
    padding: 0px;
    margin: 0px;
}

.home-bg {
    height: 100%;
    padding-bottom: 50px;
    background-image: url("table-muted.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home-title {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 30% 15% 10% 15%;
    margin: 0;
}

.home-subtitle {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin: 5px;
}

.login-form {
    background: white;
    padding: 35px;
    margin: 10%;
    border-radius: 20px;
}