* {
    padding: 0px;
    margin: 0px;
}

.bg-photo {
    background-image: url("table-muted.jpg");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.intro {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 30% 15% 10% 15%;
    margin: 0;
}

.form-div {
    background: white;
    padding: 35px;
    margin: 10%;
    border-radius: 20px;
}

.row {
    margin: 0;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin: 5px;
}